.price {
    font-size: 20px;
  }


  
.overflow-y-scroll {
    overflow-y: scroll;
  }


.display-5{
  font-size: 35px;
}

.display-6{
  font-size: 35px;
  font-weight: bold;
}

.active-video{
  background-color: rgb(78, 79, 80);
  color: antiquewhite;
}